#section-1{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

#section-5{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
}