#section-1{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

#section-4{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    background-color: gray;
}

#section-5 {
    background-color: gray;
}

#section-7{
    background-color: silver;
}

#section-9{
    background-color: blue;
}

.d_md_none{
    display: none;
}


@media screen and (min-width: 768px) {
    .d_md_none {
        display: block;
    }
    .justify_content_center_md{
        justify-content: center;
    }
    .mx_20px_md {
        margin: 0 20px;
    }
}