.color_blue {
    color: blue;
}

.color_white {
    color: white;
}

.bg_color_orange {
    background-color: rgb(248, 61, 4);
}

.bg_color_black_rgba_05 {
    background-color: rgba(0, 0, 0, 0.5);
}

.border_rad_20px {
    border-radius: 20px;
}

.border_rad_10px {
    border-radius: 10px;
}

#section-1>div {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    height: 70vh;
}

#section-4>div {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position:top;
    background-size: cover;
    background-color: gray;
    height: 70vh;
}

#section-5 {
    background-color: gray;
}

#section-7 {
    background-color: silver;
}

#section-9 {
    background-color: blue;
}

.d_md_none {
    display: none;
}



@media screen and (min-width: 768px) {

    .d_md_none {
        display: block;
    }

    .justify_content_center_md {
        justify-content: center;
    }

    .mx_20px_md {
        margin: 0 20px;
    }
}